src
tsconfig.json
tsconfig.eslint.json
tslint.json
.prettierrc
tests
coverage
appveyor.yml
.travis.yml
jest.config.js
setupJest.ts
.mergify.yml
AUTHORS
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.eslintrc
.eslintignore
