src
.github
tsconfig.json
tslint.json
.prettierrc
.prettierignore
tests
coverage
appveyor.yml
.travis.yml
jest.config.js
setupJest.ts
.mergify.yml
AUTHORS
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.eslintrc
.eslintrc.js
.eslintignore
rollup.config.js
rollup.config.mjs
.husky
